[*.cs]

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = suggestion

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none

# IDE0007: Use implicit type
dotnet_diagnostic.IDE0007.severity = none

# IDE0003: Remove qualification
dotnet_diagnostic.IDE0003.severity = none

# IDE0058: Remove unnecessary expression value
dotnet_diagnostic.IDE0058.severity = none

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none

dotnet_diagnostic.IDE0290.severity = none