<?xml version="1.0" encoding="UTF-8"?>
<!-- Created with TexturePacker https://www.codeandweb.com/texturepacker -->
<!-- $TexturePacker:SmartUpdate:5a48c8a4f0fea1de8be9161ce236a8e8:4251f374dc8a01f9821216a19068d3b5:b4da9324b5d92c57b73a9c864dd87fbf$ -->
<!--Format:
n  => name of the sprite
x  => sprite x pos in texture
y  => sprite y pos in texture
w  => sprite width (may be trimmed)
h  => sprite height (may be trimmed)
pX => x pos of the pivot point (relative to sprite width)
pY => y pos of the pivot point (relative to sprite height)
oX => sprite's x-corner offset (only available if trimmed)
oY => sprite's y-corner offset (only available if trimmed)
oW => sprite's original width (only available if trimmed)
oH => sprite's original height (only available if trimmed)
r => 'y' only set if sprite is rotated
with polygon mode enabled:
vertices   => points in sprite coordinate system (x0,y0,x1,y1,x2,y2, ...)
verticesUV => points in sheet coordinate system (x0,y0,x1,y1,x2,y2, ...)
triangles  => sprite triangulation, 3 vertex indices per triangle
-->
<TextureAtlas imagePath="Menu.png" width="2048" height="2048">
    <sprite n="BottomOrnament.png" x="1053" y="367" w="84" h="5"/>
    <sprite n="ContainerScreen.png" x="1145" y="2" w="480" h="270"/>
    <sprite n="DemoRibbon.png" x="1874" y="496" w="109" h="108"/>
    <sprite n="DeveloperLogo.png" x="571" y="2" w="572" h="363"/>
    <sprite n="FadeCircle.png" x="1627" y="438" w="245" h="250"/>
    <sprite n="GameLogo.png" x="1627" y="2" w="384" h="434"/>
    <sprite n="LanguageIcon.png" x="1053" y="374" w="53" h="40"/>
    <sprite n="MenuItemArrowLeft.png" x="2013" y="2" w="32" h="37"/>
    <sprite n="MenuItemArrowRight.png" x="2013" y="41" w="32" h="37"/>
    <sprite n="MenuItemHighlight.png" x="1874" y="479" w="149" h="15"/>
    <sprite n="MessageBoxOrnamentBottom.png" x="1053" y="367" w="84" h="5"/>
    <sprite n="MessageBoxOrnamentTop.png" x="1874" y="472" w="154" h="5"/>
    <sprite n="OptionHighlight.png" x="1874" y="606" w="98" h="12"/>
    <sprite n="OptionsIcon.png" x="1053" y="416" w="41" h="42"/>
    <sprite n="PauseMenuBackground.png" x="1145" y="274" w="480" h="270"/>
    <sprite n="PublisherLogo.png" x="2" y="2" w="567" h="647"/>
    <sprite n="StartGameMenuBackground.png" x="571" y="367" w="480" h="270"/>
    <sprite n="StartGameMenuSelectedSlotContainer.png" x="1874" y="438" w="157" h="32"/>
    <sprite n="TitleScreen.png" x="1053" y="546" w="480" h="270"/>
    <sprite n="TitleScreenForeground.png" x="571" y="639" w="480" h="270"/>
    <sprite n="TitleScreenForegroundLight.png" x="1535" y="690" w="480" h="270"/>
    <sprite n="TitleScreenRoofLight.png" x="1053" y="818" w="203" h="144"/>
</TextureAtlas>
